.outer {
    background-color: gray;
    width: 200px;
    height: 200px;
    position: relative;
}

.inner {
    background-color: orange;
    height: 100px;
    width: 100px;
	border-radius: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    position: absolute;
}