p {
    background-color: rgba(255, 140, 0, 0.6);
}
section {
    background-image: url(../img/truskawka.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}