ul {
    display: block;
    margin: auto;
}

li {
    display: inline-block;
}


.outer {
    width: 200px;
    height: 200px;
    position: relative
}

.inner {
    height: 100px;
    width: 100px;
	border-radius: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    position: absolute;
}

.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.black {
    background-color: black;
}
.orange {
    background-color: orange;
}
.purple {
    background-color: purple;
}
.gray {
    background-color: gray;
}
.pink {
    background-color: pink;
}