.box {
    height: 150px;
    width: 150px;
    margin: auto;
    margin-bottom: 20px;
    transition: all 2s;
}

.red {
    background-color: red;
}

.red:hover {
    width: 300px;
}

.blue {
    background-color: blue;
}

.blue:hover {
    height: 300px;
}

.green {
    background-color: green;
}

.green:hover {
    width: 300px;
    height: 300px;
}

/*
.box-upper {

    background-color: red;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: linear;

}

.box-upper:hover {
    background-color: aqua;
    width: 300px;
}

.box-center {
    background-color: blue;
    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: linear;

}

.box-center:hover {
    background-color: aqua;
    height: 300px;
}*/
