div {
    width: 200px;
    height: 100px;
}

#predefiniowane {
    background-color: orange;
}

#hex {
    background-color: #ff0000;
}

/*pary te same*/
#short-hex {
        background-color: #234; /*#223344*/
}

#rgb {
    background-color: rgb(0, 255, 0);
}

/*4 parametr to transparentność*/
#rgba {
    background-color: rgba(255, 0, 0, 0.19);
}