p {
    color: red;
}

#container{
    color: blue;
}

.list-item{
    color: aqua;
}

section > h2 {
    color: yellow;
}

section h2 {
    color: orange;
}

/*nadaj wyglad elementu li bedacego bezposrednim rodzenstwem elementow z klasą first-item*/
.first-item + li {
    color:blueviolet;
}

/*nadaj wyglad wszystkim elementom  li bedacymi rodzenstwem elementow z klasa first-item*/
.first-item ~ li {
    color:blueviolet;
}

ul > * {
    background-color: red;
}

/*nadaj wyglad wszystkim paragrafom ale tylko paragrafom z klasą first*/
p.first{
    color: gray;
}

/*nadaj wyglad wszystkim paragrafom ale tylko paragrafom z klasą first i identyfikatorem main*/
p.first#main{
    color: gray;
}