body {
    display: flex;
    flex-wrap: wrap;
}


p:nth-child(odd) {
    background-color: gray;
}

p:nth-child(even) {
    background-color: pink;
}


p {
    width: 25%;
}


/*DESKTOP FIRST*/
/*regula media*/

/*mniejsze rozdz. definiujemy po wiekszych - uwaga na kaskadowosc*/

/*media: screen, printer, ...*/

/*
@media (max-width: 992px) {
    p {
        width: 50%;
    }
}

@media (max-width: 768px) {
    P {
        width: 100%;
    }   
}

@media (min-width: 768px) and (max-width: 992px) {
    p {
        color: red;
    }
}

@media print {
    p {
        color:green;
    }
}
*/


/*podejscie MOBILE FIRST:*/


@media (min-width: 768px) {
    p {
        width: 50%;
    }
}

@media (min-width: 992px) {
    p {
        width: 25%;
    }
}
