.main-header-content {
    width: 200px;
    height: 100px;
    background-color: #000;
    text-align: center;
}


div.counter::before {
    content: "";
    animation-name: counting;
    animation-duration: 11s;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
}


@keyframes counting {
    0% {
        content: "10";
    }
    10% {
        content: "9";    
    }
    20% {
        content: "8";
    }
    30% {
        content: "7";
    }
    40% {
        content: "6";
    }
    50% {
        content: "5";
    }
    60% {
        content: "4";
    }
    70% {
        content: "3";
    }
    80% {
        content: "2";
    }
    90% {
        content: "1";
    }
    100% {
        content: "I love CSS :)";
    }
    
}