.page-link {
    color: red;
}

/*hover jest pseudoklasą*/
.page-link:hover{
    color: green;
    font-size: 32px;
    text-decoration: none;
}
input:focus {
    border: 1px solid red;
    outline: none;
}

.item:first-child{
    background-color: yellow;
}

.item:nth-of-type(3n) {
    background-color: gray;
}

.item:last-child {
    background-color: green;
}
