form {
    background-color: #213b50;
    width: 600px;
/*    oodal od scianek pudelka*/
    padding: 30px;
}

label, p {
    color: #ffffff;
/*    z liniowego ukladu znacznika zrob blokowy czyli pod spodem*/
    display: block;
}

/*opisy konieta/mezczyzna niech beda w linii*/
label[for*="male"], 
label[for="agreement"] {
    display: inline;
}

input, 
select, 
textarea {
    background-color: #2b4a64;
/*    wywal ramke*/
    border: none;
/*    wywal poswiate*/
    outline: none;
/*    szerokosc stala*/
    width: 300px;
    color: #ffffff;
    margin-bottom: 10px;
    
}

/*szerokosc radio i checkboxa niech zostanie auto*/
input[type="radio"],
input[type="checkbox"] {
    width: auto;
}


input:focus, 
select:focus,
textarea:focus {
    background-color: #4e708c;
    border: 1px solid #ffffff;
}

/*zmien wyglad przycisku */
input[type="submit"] {
    background-color: green;
    color: #ffffff;
    width: auto;
    padding: 10px 20px;
    font-weight: 800;
    text-transform: uppercase;
    
}

/*zmien wyglad przycisku po najechaniu*/
input[type="submit"]:hover {
    background-color: #ffffff;
    color: green;
/*    zmien wyglad kursora na raczke*/
    cursor: pointer;
}