a[title] {
    font-size: : 32px;
}
a[title="Main page"] {
    color: red;
}

/*szuka odseparowy fragment tekstu*/
a[title~="me"] {
    color: yellow;
}
    
/*wszystkie zaqwierajace ciąg tion*/
a[title*="tion"] {
    color: blue;
}

/*zaczynajace sie od Container*/
a[title^="Container"] {
    color: orange;
    
}/*konczace sie od Container*/
a[title$="skills"] {
    color: blanchedalmond;
}

