.outer {
    background-color: #a6a9b6;
    width: 400px;
    height: 400px;
    border: 10px solid gray;
    position: relative;
}

.inner {
    height: 200px;
    width: 200px;
    position: absolute;
}
.orange {
    background-color: orange;
    bottom: 0;
}

.gray {
    background-color: blanchedalmond;
    right: 0;
}