.box {
    height: 150px;
    width: 150px;
    background-color: red;
/*
    transition-property: background-color;
    transition-property: height;
    transition-duration: 2s;
    transition-timing-function: linear;
*/
/*    wersja skrocona*/
    transition: all 2s linear 0.3s;
}

.box:hover {
    background-color: aqua;
    height: 150px;
}